body {
	padding-top: 80px;
	padding-bottom: 20px;
}

html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }
 
      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }
 
      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        /*background-color: #f5f5f5;*/
      }
 
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


span.stars, span.stars span {
    display: block;
    background: url(/img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
    float: left;
}

span.stars span {
    background-position: 0 0;
}

span.votes {
    line-height: 17px;
}

/*body {	*/
	/*background-color: #fff;*/
    /*color: #333;    */
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font-size: 13px;       */
/*}*/
/*#register {*/
    /*float: left;*/
    /*display: inline-block;   */
/*}*/

/*h1 {*/
	/*background-color: #444;*/
	/*color: #eee;*/
/*}*/

/*.nav li {*/
    /*float: left;*/
    /*list-style: none;*/
    /*padding: 5px;*/
/*}*/

/*.navbar {	*/
    /*text-align: right;	*/
	/*padding: 5px;*/
	/*margin-bottom: 10px;*/
/*}*/

/*#content {*/
    /*clear: both;*/
/*}*/

/*footer {*/
    /*width:100%;*/
	/*height:30px;*/
	/*position:absolute;*/
	/*bottom:0;*/
	/*left:0;*/
    /*padding-top: 10px;*/
    /*text-align: center;		*/
	/*border-color: #aaa;	*/
	/*border-top: 1px solid;*/
	/*border-top-style: solid;*/
/*}*/
